@import url(https://fonts.googleapis.com/css?family=Quicksand);

html {
	background-color: white;
}

.side {
  margin-left: -50px;
}

.front {
  margin-left: -450px;
}

.info {
  margin-left: 69px;
  font-family: "Quicksand"
}


#pagewrap {
	padding: 5px;
	width: 1400px;
	margin: 20px auto;


}

#pagewrap, header, #content, #middle, #sidebar, footer {
	border: solid 0px #ccc;
}

header {
	margin-top: -70px;
	background: #fff url(header.jpg) no-repeat top center;
  width: 1400px;
	height: 933px;
  margin-left: -13px;

}

#content {
  width:290px;
  float: left;
  padding: 10px 5px;
  margin-top: -30px;

}

#middle {
  width: 900px;
  float: left;
  padding: 5px -69px;
  margin: -50px;
}

#sidebar {
  width: 270px;
  padding: 100px 100px;
	margin-left: px;

}

a:link, a:visited {
  color: white;
  display: inline;
     width: 300px;
     font-weight: bold;
     color: #FFFFFF;

     text-align: center;
     padding: 40px;
     text-decoration: none;
     text-transform: uppercase;
 }

 a:hover, a:active {
     color: #ef444e;
     transition: 1.7s;



}

.nav ul {
	float: left;
  height: 300px;
  margin-top: 250px;
	width: 900px;
	text-decoration: none;
	margin-left: -40px;


}

.nav li {

  margin-left: ;
  background-color: rgba(84, 146, 93, .42);
  display: inline;
  padding: 150px;
  width: 900px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: none;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 1200px or less */




h1 {
  margin: 0 0 1em 0;
  font-size: 2em;
font-family: 'Quicksand', sans-serif;
}

h2 {
	font-family: 'Quicksand', sans-serif;
}
h3 {
	font-family: 'Quicksand', sans-serif;
}
